<details class="js-form-wrapper form-wrapper">
    <summary>{{title}}</summary>
    <div class="details-wrapper">
        {{description}}
        {% if has_eligibility_requirements %}
            <h2>Am I eligible?</h2>
            <ul>
                {% if min_age > 0 %}
                    <li>You must be at least {{min_age}} years old.</li>
                {% endif %}
                {% if min_years_enrolled > 0 %}
                    <li>You must have been enrolled in your school for at least {{min_years_enrolled}} year(s).</li>
                {% endif %}
            </ul>
        {% endif %}
        <h2>What does it cost?</h2>
        <ul>
            <li>You or your school must pay for travel expenses.</li>
            {% if fee > 0 %}
                <li>
                    You or your school must pay a weekly fee of {{fee}} ({{currency}}). This money
                    pays for your food and housing, and helps cover {{school_name}}'s operating costs.
                </li>
            {% endif %}
            {% if isWage %}
                <li>You don't have to worry about paying for food or housing.</li>
                {% if wage > 0 %}
                    <li>You will receive a weekly wage of {{wage}} ({{currency}}) for your services.</li>
                {% endif %}
            {% endif %}
        </ul>
        {{program_parameters|raw}}
        <a href="/node/{{school_node_id}}/{{student_hosting_field_name}}/application">APPLY</a>
    </div>
</details>