<details class="js-form-wrapper form-wrapper">
    <summary>{{title}}</summary>
    <div class="details-wrapper">
        {{description}}
        {% if has_eligibility_requirements %}
            <h2>Am I eligible?</h2>
            <ul>
                {% if min_age > 0 %}
                    <li>You must be at least {{min_age}} years old.</li>
                {% endif %}
                {% if min_years_enrolled > 0 %}
                    <li>You must have been enrolled in your school for at least {{min_years_enrolled}} year(s).</li>
                {% endif %}
            </ul>
        {% endif %}
        <h2>What does it cost?</h2>
        <ul>
            <li>You or your school must pay for travel expenses.</li>
            {% if fee > 0 %}
                <li>
                    You or your school must pay a weekly fee of {{fee}} ({{currency}}). This money
                    pays for your food and housing, and helps cover {{school_name}}'s operating costs.
                </li>
            {% endif %}
            {% if isWage %}
                <li>You don't have to worry about paying for food or housing.</li>
                {% if wage > 0 %}
                    <li>You will receive a weekly wage of {{wage}} ({{currency}}) for your services.</li>
                {% endif %}
            {% endif %}
        </ul>
        {% if has_expectations %}
            <h2>Expectations</h2>
            {{expectations}}
        {% endif %}
        {% if has_required_documents %}
            <h2>Required Documents</h2>
            <ul>
            {% if require_jc_record %}
                <li>Your JC record for the current year. Obtain this from an official representative, such as your JC Clerk. The document should be signed by the official representative.</li>
            {% endif %}
            {% if require_sm_approval %}
                <li>A document, signed by your School Meeting Clerk or other official representative, stating that you have received approval from your School Meeting to be a guest at our school.</li>
            {% endif %}
            {% if require_recommendation_letter %}
                <li>A letter of recommendation written by a staff member at your school. This letter should explain why the staff member thinks you will be a pleasant and worthwhile addition to our school.</li>
            {% endif %}
            </ul>
        {% endif %}
        <div>
            <a href="/node/{{school_node_id}}/{{student_hosting_field_name}}/application">APPLY</a>
        </div>
    </div>
</details>